
.navbar {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #EDE6FD;

}

.logo {
    padding: 10px 10px;

}

.navbar-brand {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;

}


.navbar-nav {
    margin: 0;
    padding: 0;
    border: 0;

}

.correo {
    background-color: #fdeea7;
}


.servicios{
    margin-top: 30px;
    
    color: #8b4d96;
    text-align: center
}

.boton {
    background-color: #8b4d96;
    border-color: #8b4d96;
}



.cajamaca {

    color: #8b4d96;
    text-align: justify;
}

.fuente {
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 600;
    color: #8b4d96;
}

.quiensoy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footercompleto {
    background-color: #8b4d96;
}

.pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: #fdeea7;
    text-decoration: none;
}

.pasaporte {
    color: black;
}

.redes {
    background-color: #8b4d96;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

i {
    font-size: larger;
}

/* 
.carousel-item{
width: 100vh;
opacity: 0.8;

} */